slides/data-sprint-feb25/figs/eagle_s_cables_static.jpg
slides/data-sprint-feb25/figs/links.png
vimmin/2/index.md
vimmin/1/index.md

static/images/mtvim.png
static/images/pgogjeg-matrix.png
static/images/cps
